<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"> -->

    <title>PrivacyGuide.me</title>

    <meta name="description" content="A straightforward guide to maintaining a basic degree of privacy online.">

    <meta property="og:title" content="Josh Vickerson">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.privacyguide.me/">
    <!-- <meta property="og:image" content="/assets/avatar.png"> -->
    <meta property="og:description" content="A straightforward guide to maintaining a basic degree of privacy online.">

    <link rel="canonical" href="https://www.privacyguide.me/">

    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="page-header">
        <nav>
            <a href="./">Home</a>
            <a href="./about">About</a>
        </nav>
    </header>
    <main>
        <h1>About this Site</h1>
        <p>
            My name is Josh Vickerson, a web developer and digital privacy advocate from New York. I created this site after a search for a simple guide to online privacy came up blank. Most guides I could find are technical, overly verbose, or sponsored by a company trying to sell you something. My goal with PrivacyGuide.me is to make the world of online privacy tools more approachable. <strong>I have no intention to sell you any particular product.</strong> I will give examples of apps, extensions and services based on my own experience, but will not monitize such mentions.
        </p>
        <p>
            Long term I would like to write app and service-specific guides, aggregate digital privacy news, and more. If you find this site useful, I would really appreciate your support.
        </p>

        <a href="https://www.buymeacoffee.com/joshvickerson" style="display: block;"><img src="https://img.buymeacoffee.com/button-api/?text=Support This Project&emoji=&slug=joshvickerson&button_colour=214f91&font_colour=ffffff&font_family=Arial&outline_colour=ffffff&coffee_colour=FFDD00" alt="Support this project"/></a>

        <a href="https://twitter.com/joshvickerson" class="twitter-follow-button" data-show-count="false">Follow @joshvickerson on Twitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </main>

    <footer class="page-footer">
        <small>Copyright Josh Vickerson</small>
    </footer>

</body>

</html>
